 <!DOCTYPE html>
<html lang="en">
<head>
    {{>headerlinks}}
</head>
<body>
    {{>navbar}}

    <!-- main header-->

    <div class = "container-fluid ">
        <div class = "row">
            <div class = "col-md-10 col-12 mx-auto">
                <div class = "row">
                    
                    <div class = "col-md-12 col-12 main_header_left  align-items-center">
                        <figure>
                            <img src = 'images/error.jpeg' alt = "men" height="400"/>
                        </figure>
                        
                        <p>Weelcome to Jeelam World</p>
                        <h1>{{errorMsg}}</h1>
                        <a href = "/" target = "_blank"><button>Go Back</button></a>
                    </div>     
                </div>
            </div>
        </div>
    </div>

<!-- footer code -->

{{>footer}}       
</body>
</html>